.navbar {
    opacity: 0.8;
    border-bottom: #008ed6 3px solid;
    height: 8vh;
}

#Homepage, #Subjects, #About {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Register, #Login {
    position: relative;
    margin-top: 12vh;
    text-align: center;
    width: 40%;
    left: 30%;
}
