{% extends "layout.html" %}
{% block content %}
    <!-- Main/Header Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Scheduler</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user"></i> Account Settings
                        </a>
                        <div class="dropdown-menu">
                        <a href="/" class="dropdown-item">
                            Logout
                        </a>
                        <a data-toggle="modal" href="#updateInfo" class="dropdown-item">
                            Update Info
                        </a>
                        <a data-toggle="modal" href="#deleteAccount" class="dropdown-item">
                            Delete Account
                        </a>
                        </div>
                    </li>
                </ul>
              </div>
        </div>
    </nav>
    
    <!-- update tutor info -->
    <div class="modal" id="updateInfo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Update Student Information!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Please enter the changes in the appropriate response box.</p>
                    <p>Leave response blank empty to keep the old information.</p>
                    <form action="/lessons?username={{ username }}&mess={{ mess }}" method="POST">
                        {{ uform.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ uform.newFirstName.label(class="form-control-label") }}
                                {{ uform.newFirstName(class="form-control form-control.lg")}}
                            </div>
                            <div class="form-group">
                                {{ uform.newUserName.label(class="form-control-label") }}
                                {{ uform.newUserName(class="form-control form-control.lg")}}
                            </div>
                            <div class="form-group">
                                {{ uform.usubmit(class="btn btn-outline-info") }}
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- delete account -->
    <div class="modal" id="deleteAccount">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Delete Account!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Exit to keep account or confirm deletion via delete button below.</p>
                    <form action="/lessons?username={{ username }}&mess={{ mess }}" method="POST">
                        {{ dform.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ dform.delsubmit(class="btn btn-outline-info") }}
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Main div container for the rest of the page. A majority of the classes are bootstrap sizing based on screen size -->
    <!-- but there are a couple of defined stylings in css -->
    <div class="container">
        <header id="account-actions">
            <div class="row no-gutters">
                <!-- Customer left side greeting -->
                <div class="col-lg-4 col-md-5">
                    <h1>Hi, {{name}}!</h1>
                    <h2>Lessons Page</h2>
                </div>
                
                <!-- View Selection Section. data-target points to individual sections's div. -->
                <div class="col-lg-8 col-md-7">
                    <div class="d-flex flex-column">
                        <div class="bg-dark menu-header">
                            <h3>Click on Section to view</h3>
                        </div>
                        
                        <div>
                            <div class="d-flex flex-row text-white align-items-stretch text-center">
                                <div class="menu-item p-4 bg-primary" data-toggle="collapse" data-target="#Current"> 
                                    <span class="d-none d-sm-block">Current</span>
                                </div>
                                <div class="menu-item p-4 bg-danger" data-toggle="collapse" data-target="#Available">
                                    <span class="d-none d-sm-block">Available</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Current primary-->
        <div id="Current" class="collapse show">
            <div class="card card-body bg-primary text-white py-3">
                <h2>Current Appointments</h2>
                <p>Click on appointment to cancel.</p>
            </div>
            <div class="card card-body py-3">
                <div id="calendar"></div>
            </div>
            <!-- cancel appointment modal -->
            <div class="modal" id="cancelAppt">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">OH NO!</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>We're sorry you have to cancel, but we look forward to seeing you in the future!</p>
                            <form action="/lessons?username={{ username }}&mess={{ mess }}" method="POST">
                                {{ cform.hidden_tag() }}
                                <fieldset class="form-group">
                                    {{ cform.delDate(type="hidden", id="od") }}
                                    <div class="form-group">
                                        {{ cform.submit(class="btn btn-outline-danger") }}
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- available-->
        <div id="Available" class="collapse">
            <div class="card card-body bg-danger text-white py-3">
                <h2>Available Appointments</h2>
            </div>
            <div class="card card-body py-3">
                <div class="container" id="teachContainer">
                    {% for appt in openAppt %}
                    <div class="row row-striped" id={{appt.date}}>
                        <div class="col-2 text-left text-uppercase">
                            <h1 class="display-4"><span class="badge badge-secondary">{{appt.day}}</span></h1>
                            <h2 class=month>{{appt.month}}</h2>
                        </div>
                        <div class="col-10 test">
                            <h3 class="text-uppercase"><strong>{{appt.subject}}</strong></h3>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="far fa-calendar-check"></i>{{appt.weekday}}</li>
                                <li class="list-inline-item"><i class="far fa-clock"></i>{{appt.time}}</li>
                            </ul>
                        </div>
                        <div class="col-8 text-right">
                            <button id="find{{appt.cID}}" onClick="add_click(this.id)" class="btn btn-primary btn-lg">Teach This Class</button>
                        </div>
                    </div>
                    <div class="modal" id="teachAppt{{appt.cID}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">AWESOME!</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>This class still needs a teacher! Is it you?</p>
                                    <form action="/lessons?username={{ username }}&mess={{ mess }}" method="POST">
                                        {{ aform.hidden_tag() }}
                                        <fieldset class="form-group">
                                            {{ aform.addDate(type="hidden", class="ad") }}
                                            <div class="form-group">
                                                {{ aform.tsubmit(class="btn btn-outline-danger") }}
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>            

        <!-- Footer -->
        <footer id="main-footer" class="bg-dark text-white menu-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>“To teach is to learn twice.” - Joseph Joubert</h3>
                </div>
            </div>
        </footer>
    </div>
{% endblock content%}